body {
    font-family: Arial, sans-serif;
    line-height: 2.8;
    background-color: #d57eb9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background: #b86ebd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background: #333;
    color: #ae71b5;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
